# Enable rewrite engine and route requests to framework
RewriteEngine On

# Some servers require you to specify the `RewriteBase` directive
# In such cases, it should be the path (relative to the document root)
# containing this .htaccess file
#
# RewriteBase /
#RewriteRule (.php) [R=404]
#RewriteRule ^app/.*\.(php)$ - [F,L,NC]
RewriteRule ^app/.*\.(php)$ - [R=404]
RewriteRule ^core/.*\.(php)$ - [R=404]
RewriteRule ^(tmp)\/|\.ini|\.html$ - [R=404]

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
## Evitar que se liste el contenido de los directorios
Options All -Indexes

## Lo mismo que lo anterior
IndexIgnore *

# Protegerse contra los ataques DOS limitando el tamaño de subida de archivos
LimitRequestBody 10240000