<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="[[base]]/" />
<link rel="stylesheet" href="[[base]]/ui/css/base.css" />
<link rel="stylesheet" href="[[base]]/ui/js/base/bootstrap-3.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="[[base]]/ui/js/base/duramenu/css/dura-main.css" />
<link rel="stylesheet" href="[[base]]/ui/js/base/duramenu/css/dura-responsive.css" />
<link rel="stylesheet" href="[[base]]/ui/js/base/duramenu/css/dura-fullwidth.css" />
<link rel="stylesheet" href="[[base]]/ui/fonts/font-awesome-4.6.3/css/font-awesome.min.css" />
<link rel="stylesheet" href="[[base]]/ui/fonts/roboto-gh-pages/roboto.css" />
<link rel="stylesheet" href="[[base]]/ui/js/base/dropzone/dropzone.min.css" />
<link rel="stylesheet" href="[[base]]/ui/js/base/bootdialog/css/bootstrap-dialog.min.css" />