<script src="[[base]]/ui/js/base/jquery/jquery-2.2.0.min.js"></script>
<script src="[[base]]/ui/js/base/bootstrap-3.3.1/js/bootstrap.min.js"></script>
<script src="[[base]]/ui/js/base/duramenu/js/dura-main.js"></script>
<script src="[[base]]/ui/js/base/dropzone/dropzone.min.js"></script>
<script src="[[base]]/ui/js/base/componentes/baseComponente.js"></script>
<script src="[[base]]/ui/js/base/bootdialog/js/bootstrap-dialog.min.js"></script>
<script src="[[base]]/ui/js/base/componentes/bootstrapDialogComponente.js"></script>
<script>
    $(function(){
        baseComponente.inicializarAjax("[[base]]");
    });
</script>